In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import tensorflow as tf

C:\Users\sukhm\AppData\Local\Temp\ipykernel_7476\1103925618.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

WARNING:tensorflow:From c:\Users\sukhm\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [4]:
data = pd.read_excel('Folds5x2_pp.xlsx')

In [5]:
data

         AT      V       AP     RH      PE
0     14.96  41.76  1024.07  73.17  463.26
1     25.18  62.96  1020.04  59.08  444.37
2      5.11  39.40  1012.16  92.14  488.56
3     20.86  57.32  1010.24  76.64  446.48
4     10.82  37.50  1009.23  96.62  473.90
...     ...    ...      ...    ...     ...
9563  16.65  49.69  1014.01  91.00  460.03
9564  13.19  39.18  1023.67  66.78  469.62
9565  31.32  74.33  1012.92  36.48  429.57
9566  24.48  69.45  1013.86  62.39  435.74
9567  21.60  62.52  1017.23  67.87  453.28

[9568 rows x 5 columns]

In [8]:
x = data.iloc[:,::-1].values
y = data.iloc[:,-1].values

In [10]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2,random_state=0)

In [11]:
ann = tf.keras.models.Sequential()

WARNING:tensorflow:From c:\Users\sukhm\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [13]:
ann.add(tf.keras.layers.Dense(units=4, activation='relu'))

In [14]:
ann.add(tf.keras.layers.Dense(units=4,activation='relu'))

In [15]:
ann.add(tf.keras.layers.Dense(units=1))

In [17]:
ann.compile(optimizer='adam',loss='mean_squared_error')

In [36]:
ann.fit(xtrain,ytrain,batch_size=32,epochs=40)

Epoch 1/40
240/240 [==============================] - 0s 2ms/step - loss: 0.0036
Epoch 2/40
240/240 [==============================] - 0s 2ms/step - loss: 0.0039
Epoch 3/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0035
Epoch 4/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0031
Epoch 5/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0038
Epoch 6/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0033
Epoch 7/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0042
Epoch 8/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0041
Epoch 9/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0029
Epoch 10/40
240/240 [==============================] - 0s 2ms/step - loss: 0.0035
Epoch 11/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0028
Epoch 12/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0040
Epoch 13/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0030
Epoch 14/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0041
Epoch 15/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0034
Epoch 16/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0029
Epoch 17/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0041
Epoch 18/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0041
Epoch 19/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0026
Epoch 20/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0047
Epoch 21/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0032
Epoch 22/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0031
Epoch 23/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0041
Epoch 24/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0042
Epoch 25/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0023
Epoch 26/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0041
Epoch 27/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0035
Epoch 28/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0032
Epoch 29/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0038
Epoch 30/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0037
Epoch 31/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0030
Epoch 32/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0035
Epoch 33/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0046
Epoch 34/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0025
Epoch 35/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0040
Epoch 36/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0030
Epoch 37/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0038
Epoch 38/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0036
Epoch 39/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0044
Epoch 40/40
240/240 [==============================] - 0s 1ms/step - loss: 0.0026

In [37]:
res = ann.predict(xtest)
print(np.printoptions(precision=2))

60/60 [==============================] - 0s 1ms/step
<contextlib._GeneratorContextManager object at 0x00000231DE1E3450>

In [38]:
res = res.reshape(len(res),1)
ytest = ytest.reshape(len(ytest),1)

In [39]:
np.concatenate((res,ytest),1)

array([[431.25946045, 431.23      ],
       [460.04425049, 460.01      ],
       [461.17382812, 461.14      ],
       ...,
       [473.29360962, 473.26      ],
       [438.02481079, 438.        ],
       [463.30505371, 463.28      ]])